@import "~bootswatch/dist/zephyr/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/zephyr/bootswatch";

.vertical-center{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
